<a href="https://colab.research.google.com/github/Kyeeeeji/DALC_Scala/blob/main/%EC%BD%94%ED%85%8C1%EC%A3%BC%EC%B0%A8_%EA%B9%80%EC%98%88%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. 프로그래밍 언어 선택

## 리스트 2-1 수도코드(Pseudocode) 예제  
### 53p

In [1]:
함수 fizzbuzz()
  for i=1 to 100
    print_number = True

    if i is 3으로 나눌 수 있다면
      print "Fizz"
      print_number = False

    if i is 5로 나눌 수 있다면
      print "Buzz"
      print_number = False

    if print_number = True
      print i
      
    print 빈 줄

SyntaxError: ignored

## 루프(1부터 10까지의 합 구하기)  
### 56p

In [2]:
# 예시1
sum = 0
for i in range (1, 10+1):
  sum += i

In [3]:
# 예시2
sum = sum(i for i in range(1, 10+1))

TypeError: ignored

In [4]:
# 예시3
sum = sum(range(1, 10+1))

TypeError: ignored

## 제네릭 프로그래밍  
### 58p

In [5]:
def are_equal(a, b):
  return a == b

are_equal(10, 10.0)

True

In [6]:
# Dynamic Typing 언어라 제네릭이 필요없으나 가독성을 위해 타입을 명시할 수 있다. 3장 76p
from typing import TypeVar

T = TypeVar('T')
U = TypeVar('U')

def are_equal(a: T, b: U) -> bool:
   return a == b

are_equal(10,10.0)

True

## 배열 반복(문자열 배열(list)를 반복하면서 엘리먼트 출력)  
### 60p

In [7]:
foo = ['A', 'B', 'C']
for f in foo:
   print(f)

A
B
C

## 구조체  
### 61p~62p

In [8]:
from collections import namedtuple
MyStruct = namedtuple("MyStruct", "field1 field2 field3")
m = MyStruct("foo", "bar", "baz")

# 파이썬에는 구조체가 없고 클래스도 데이터 타입을 지정할 수 없어 namedtuple로 정의함

In [9]:
# python 3.7+
from dataclasses import dataclass

@dataclass
class Product:
    weight: int = None
    price: float = None

apple = Product()
apple.price = 10

# python 3.7 부터는 dataclass를 지원
# @dataclass 데코레이션으로 타입 힌트와 함께 활용함으로써 구조체 형태로 정의할 수 있음
# 초기화함수 지원, 출력 시 읽기 쉬운 포맷으로 출력
# 3.6 이하 버전에서도 Backport 버전을 제공하므로 $pip install dataclasses 로 설치해 사용할 수 있다.

## 클래스  
### 64p~65p

In [10]:
from dataclasses import dataclass

@dataclass
class Rectangle:
    width: int
    height: int

    def area(self):
        return self.width * self.height

rect = Rectangle(3, 4)
print(rect.area())

# 실무에서는 자주 쓰이는데 코테에서는 잘 안 쓰인다.
# @dataclass 선언은 필수는 아니지만 여러 내부함수 기능도 자동으로 구현해줘서 편리함

12

## 인덴트  
### 76p~77p

In [11]:
foo = long_function_name(var_one, var_two,
                         var_three, var_four)
# 첫번째 줄에 파라미터가 있으면 파라미터가 시작되는 부분에 보기 좋게

def long_function_name(
        var_one, var_two, var_three, 
        var_four):
    print(var_one)
# 없으면 공백 4칸 인덴트를 한 번 더 추가해 다른 행과 구분

foo = long_function_name(
    var_one, var_two,
    var_three, var_four)
# 여러 줄로 나워쓸 경우 다음 행과 구분되도록 인덴트 추가

NameError: ignored

## 타입힌트  
### 79p~80p

In [ ]:
a: str = "1"
b: int = 1

# 대표적 동적 타이핑 언어임에도 PEP 484 문서에 타입을 지정하는 Type Hint 추가됨

In [ ]:
# def fn(a):
# 처럼 표기하면 빠르나 가독성 떨어지며 오류 발생할 수 있음. 입출력값 유형 알 수 없음. 따라서
# def fn(a: int) -> bool:
# 와 같이 입출력값의 유형을 알 수 있음. 
a: str = 1
type(a)

In [ ]:
# 그러나 위와 같이 문자열에 정수를 할당하는 식의 사용은 지양해야 함. 강제 규약이 아니다 보니 동적으로 할당될 수 있음.
# 온라인 코테에서는 $ pip install mypy 로 mypy를 설치해 타입 힌트 오류 점검할 수 있다.

In [ ]:
# $ pip install mypy
# $ mypy solution.py
# 타입 힌트가 잘못 지정되면 Incompatible return value type 오류가 발생함.

## 리스트 컴프리헨션(기존 list를 기반으로 새 list 생성)  
### 80p~81p

In [ ]:
list(map(lambda x: x + 10, [1, 2, 3]))
# map, filter와 같은 함수형 기능을 지원하며 위와 같은 람다 표현식도 지원.

In [ ]:
# 리스트 컴프리헨션 사용하면
[n * 2 for n in range(1, 10 + 1) if n % 2 == 1]

In [ ]:
# 리스트 컴프리헨션 사용하지 않으면

a = []
for n in range(1, 10 + 1):
    if n % 2 == 1:
        a.append(n * 2)
        
a
# 길고, a라는 별도의 리스트 변수 추가됨.

In [ ]:
# 버전 2.7 이후에는 리스트 외에도 딕셔너리 등도 가능
a = {key: value for key, value in original.items()}

# 기존 정의 코드
a = {}
for key, value in original.items():
    a[key] = value

# 표현식이 2개를 넘으면 가독성 떨어짐

## 제너레이터(루프의 반복Iteration 동작을 제어할 수 있는 루틴 형태)  
### 82p~83p

In [ ]:
# 기존 함수는 return 구문을 만나면 값을 반환하고 동작을 종료했음
# yield 구문으로 제너레이터를 리턴할 수 있음(실행 중이던 값 양보?)
# 중간값 반환 후 함수는 끝까지 실행됨

def get_natural_number():
    n = 0
    while True:
        n += 1
        yield n

get_natural_number()

# 이 경우처럼 while True 구문은 종료 조건이 없으므로 계속해서 값을 내보낼 수 있다
# 반환값이 제너레이터

In [ ]:
# 다음 값은 next() 추출해 생성함

g = get_natural_number()
for _ in range(0,100):
    print(next(g))

In [ ]:
def generator():
    yield 1
    yield 'string'
    yield True
g = generator()
g

# 여러 타입의 값을 하나의 함수에서 생성하는 것도 가능

In [ ]:
next(g)

In [ ]:
next(g)

In [ ]:
next(g)

## range
### 83p~84p

In [ ]:
# 제너레이터 방식을 활용하는 대표적 함수
# 주로 for문에서


list(range(5))

In [ ]:
range(0,5)

In [ ]:
type(range(5))

# 책에서는 <class 'range'>

In [ ]:
for i in range(5):
    print(i, end= '')

In [ ]:
# range()는 range 클래스를 반환하며 for문에서 사용될 때는 내부적으로 제너레이터의 next()를 호출하듯 다음 숫자 생성
# 제너레이터 반환하듯 range 클래스만 리턴하면 숫자 100만개 생성하는 것도 무리가 없다.
# 생성조건만 정해두고 필요할 때 꺼내서 씀

a = [n for n in range(1000000)]
b = range(1000000)

In [ ]:
len(a)

In [ ]:
len(b)

In [ ]:
len(a) == len(b)

In [ ]:
b

In [ ]:
type(b)

In [ ]:
sys.getsizeof(a)

In [ ]:
sys.getsizeof(b)
# 에러가 나는데 책에서는 a 8697464, b 48
# a에는 이미 생성된 값이 담겨 있고, b에는 생성 조건이 담겨 있다

In [ ]:
b[999]

# 인덱스에 접근함과 동시에 값을 생성하므로 list와 거의 동일하게 사용 가능함

## enumerate  
### 85p

In [ ]:
# 열거하다. 순서가 있는 자료형(list, set, tuple, etc)을 인덱스를 포함한 enumerate 객체로 반환

a = [1,2,3,2,45,2,5]
a

In [ ]:
enumerate(a)

In [12]:
list(enumerate(a))

# list()로 결과 추출, 인덱스 자동 부여여여

NameError: ignored

In [13]:
# a = ['a1', 'b2', 'c3']가 있을 때 list의 인덱스와 값을 함께 출력하려면?

a = ['a1', 'b2', 'c3']
for i in range(len(a)):
    print(i, a[i])
# a[i] 조회 작업은 불필요. 전체 길이를 조회해 루프를 처리해 깔끔하지 않음

0 a1
1 b2
2 c3

In [14]:
i = 0
for v in a:
    print(i, v)
    i += 1
# 값은 깔끔하게 처리하나 인덱스를 위한 변수가 별도로 존재해 불편

0 a1
1 b2
2 c3

In [15]:
for i, v in enumerate(a):
    print(i, v)

0 a1
1 b2
2 c3

## //나눗셈 연산자
### 86p~87p

In [16]:
# 파이썬 2 이하에서 기본 연산자 /는 타입을 유지하는 특성 때문에 
# 5/3을 입력하면 1 반환했음

#파이썬 3+
5/3

1.6666666666666667

In [17]:
# PEP 238에서 동작 방식이 변경되면서 기존의 /를 //가 대체
# 내림Floor Division 연산자, 몫Quotient을 구하는 연산자

type(5/3)

float

In [18]:
int(5/3)

1

In [19]:
type(int(5/3))

int

In [20]:
# 나머지Remainder를 구하는 모듈로modulo 연산자는 %
5%3

2

In [21]:
# 몫과 나머지를 동시에 구할 때 몫과 나머지를 동시에 구할 때
divmod(5,3)

(1, 2)

## print 
### 87p~88p

In [22]:
# 코테 풀이 디버깅할 때 가장 많이 사용
# 실무에서는 디버거나 TDD 방식 등으로 디버깅

In [23]:
print('A1', 'B2')
# 콤마로 구분, 한 칸 공백이 디폴트

A1 B2

In [24]:
print('A1', 'B2', sep = ',')
# sep 파라미터로 구분자를 콤마로 지정

A1,B2

In [25]:
print('aa', end = ' ')
print('bb')
# 항상 줄바꿈을 하기 때문에 루프 값을 반복적으로 출력하면 디버깅에 어려움

aa bb

In [26]:
a = ['A', 'B']
print(' '.join(a))
#list 출력할 때는 join()으로 묶어서 처리

A B

In [27]:
idx = 1
fruit = "Apple"

# idx에 1을 더해 fruit와 함께 출력하는 방법?

In [28]:
print('{0}: {1}'.format(idx + 1, fruit))
# 인덱스와 같이

2: Apple

In [29]:
print('{}: {}'.format(idx + 1, fruit))
# 인덱스 생략 가능

2: Apple

In [30]:
# 파이썬 3.6+
# 뒤에 변수 부착할 필요, %나 format 없이 간결하게 인라인으로
print(f'{idx + 1}: {fruit}')

2: Apple

## pass  
### 89p

In [31]:
class MyClass(object):
    def method_a(self):

    def method_b(self):
        print("Method B")

c = MyClass()

# IndentationError: expected an indented block
# method_a 가 아무런 처리도 하지 않았기 때문에

IndentationError: ignored

In [ ]:
class MyClass(object):
    def method_a(self):
        # 여기에 pass 추가
        pass

    def method_b(self):
        print("Method B")

c = MyClass()

# pass는 널null 연산으로 아무것도 하지 않는 기능

## locals(로컬 심볼 테이블 딕셔너리)  
### 90p

In [ ]:
# 로컬에 선언된 모든 변수를 조회할 수 있음
# 로컬 스코프에 제한해 조회하므로
# 클래스의 특정 메소드 내부 혹은 함수 내부의 로컬 정보를 조회해
# 잘못 선언하지 않았는지 확인할 수 있다
import pprint
pprint.pprint(locals())

# pprint는 보기 좋게 줄바꿈 처리함
# 클래스 메소드 내의 모든 로컬 변수 출력

## 변수명과 주석  
### 92p~93p

In [ ]:
def numMatchingSubseq(self, S:str, words: List[str]) -> int:
    a = 0

    for b in words:
        c = 0
        for i in range(len(b)):
            d = S[c:].find(b[i])
            if d < 0:
                a -= 1
                break
            else:
                c += d + 1
        a += 1
    return a

# 문자열에 매칭된 서브 시퀀스의 개수를 구하는 코드
# 주석 없이, 변수 아무렇게나
# 변수와 코드 동작방식 파악 어려움

In [ ]:
def numMatchingSubseq(self, S: str, words: List[str]) -> int:
    matched_count = 0

    for word in words:
       #Find matching position for each character.
       found_pos = S[pos:].find(word[i])
       if found_pos < 0:
           matched_count -= 1
           break
       else: #If found, take step position forward.
           pos += found_pos + 1
    matched_count += 1

return matched_count

# 의미가 있으며 카멜케이스 아닌 스네이크케이스로 작성된 이름
# 자세한 주석
# 함수명은 카멜 케이스인데 리트코드 문제에 주어진 함수명이라 변경하지 못했음

## 리스트 컴프리헨션  
### 94p~95p

In [ ]:
# 문법과 의미를 축약하는 특징 탓에 가독성이 떨어지기도 함
str1s = [str1[i:i + 2].lower() for i in range(len(str1) - 1) if re.findall('[a-z]{2}', str1[i:i+2].lower())]

In [ ]:
# 역할에 따라 줄바꿈
str1s = [
         str1[i:i + 2].lower() for i in range(len(str1) - 1) 
         if re.findall('[a-z]{2}', str1[i:i+2].lower())
]

# 표현식이 2개를 넘지 않으며 라인을 여유있게 활용하였으나 가독성 여전히 낮음

In [ ]:
str1s = []
for i in range(len(str1) - 1):
    if re.findall('[a-z]{2}', str1[i:i+2].lower()):
        str1s.append(str1[i:i+2].lower())

# 다 풀어서 쓴 코드
# 코드를 정방향으로 읽을 수 있어 가독성 나쁘지 않음

In [ ]:
return [(x,y,z)
        for x in range(5)
        for y in range(5)
        if x != y
        for z in rnage(5)
        if y != z]

# 여러 표현식을 여러 줄에 걸쳐 표현
# 가독성 떨어짐

## 구글 파이썬 스타일 가이드  
### 95p~96p

In [ ]:
# 파이썬 공식 가이드 PEP 외의 구글에서 지정한 스타일 가이드
# 가독성을 높이기 위한 지침 있음

# 기본 값으로 가변 객체를 사용하지 말 것
# 함수가 객체를 수정하면 기본값이 변경되기 때문에
No: def foo(a, b=[]):
No: def foo(a, b: Mappong = {}):
# 위와 같이 기본값으로 파이썬 공식 가이드 PEP 외의 구글에서 지정한 스타일 가이드
# 가독성을 높이기 위한 지침 있음

# 기본 값으로 가변 객체를 사용하지 말 것
# 함수가 객체를 수정하면 기본값이 변경되기 때문에
No: def foo(a, b=[]):
No: def foo(a, b: Mappong = {}):
 파이썬 공식 가이드 PEP 외의 구글에서 지정한 스타일 가이드
# 가독성을 높이기 위한 지침 있음

# 기본 값으로 가변 객체를 사용하지 말 것
# 함수가 객체를 수정하면 기본값이 변경되기 때문에
No: def foo(a, b=[]):
No: def foo(a, b: Mappong = {}):
# 위와 같이 기본값으로 []나 {}는 지양

In [ ]:
Yes: def foo(a, b=None):
         if b is None:
             b = []
Yes: def foo(a, b: Optional[Sequence] = None):
         if b is None:
             b = []

# 불변 객체를 사용
# None을 명시적으로 할당당

In [ ]:
# True, False를 판별할 때는 암시적인 방법을 사용
# F임을 표현할 때 if foo != []: 가 아닌 if foo: 로도 충분

Yes: if not users:
         print('no users')

     if foo == 0:  # 비교대상 정수값을 직접 비교
         self.handle_zero()

     if i % 10 == 0:  # 명시적으로 값 비교
         self.handle_multiple_of_ten()

No: if len(users) == 0:  # 길이가 없음은 값이 없음을 의미, Yes의 not users로 충분
        print('no users')

    if foo is not None and not foo:  # 암시적 거짓 여부로 판별하는 것은 위험, 가독성 떨어짐
        self.handle_zero()

    if not i % 10:
        self.handle_multiple_of_ten()

# 이외에도 세미콜론으로 줄을 끝내서는 안 되며
# 세미콜론을 이용해 같은 줄에 두 문장을 써서도 안 된다
# 최대 줄 길이는 80자

## 파이썬 철학  
### 97p

In [ ]:
import this

## 빅오  
### 102p

In [ ]:
# 컴퓨터과학에서 빅오는 입력값이 커질 때 알고리즘의 실행 시간(시간 복잡도)와 함께
# 공간 요구사항(공간 복잡도)이 어떻게 증가하는지 분류
# 알고리즘 효율성 분석하는 데에 유용

# 입력값이 무한대로 향할 때 함수의 상한을 설명하는 수학적 표기 방법
# 점근적 실행 시간을 표기할 때 가장 널리 쓰이는 수학적 표기법 중 하나
# 점근적 실행 시간: 입력값 n이 무한대로 향할 때 lim 함수의 실행 시간 추이
# 복잡한 알고리즘도 입력값이 작으면 처리 빠름
# 시간 복잡도: 어떤 알고리즘을 수행하는 데 걸리느 시간을 설명하는 계산 복잡도
# 이 계산 복잡도를 표기하는 대표적 방법이 빅오

# 최고차항만을 표기, 상수항은 무시
# 4n^2+2n 이 있으면 n^2만을 고려

# O(1) : 실행시간 입력값과 관계없이 일정
# O(log n) : 크게 영향 받지 않고 견고. 이진 검색
# O(n) : 입력값만큼 실행 간에 영향 받음, 선형 시간 알고리즘이라고 부름
# O(n log n) : 병합 정렬을 비롯한 대부분의 효율 좋은 정렬 알고리즘.
# O(n^2) : 버블 정렬 따위의 비효율적 정렬 알고리즘
# O(2^n) : 피보나치 수를 재귀로 계산, n^2보다 훨씬 큼(복잡도 높음)
# O(n!) : 각 도시를 방문하고 돌아오는 가장 짧은 경로를 찾는 외판원 문제를 브루트 포스로 풀이
#         가장 느린 알고리즘

In [ ]:
for n in range(1, 15 + 1):
  print(n, n ** 2, 2 ** n)

# n^2과 2^n 차이

In [ ]:
# 알고리즘은 시간과 공간이 트레이드오프 관계
# 실행 시간이 빠르면 공간을 많이 차지, 공간을 적게 차지하면 실행시간이 느림

## 자료형-숫자  
### 108p

In [ ]:
# 파이썬에서는 정수형으로 int만을 제공
# bool은 엄밀히 논리 자료형이나 파이썬 내부에서는 int의 서브클래스

In [ ]:
True == 1

In [ ]:
False == 0

## 집합  
### 110p~111p

In [ ]:
a = set()
a

# 값이 포함된 집합은 a = {1,2,3} 형태로 선언
# 딕셔너리와 동일하게 {} 사용하나 키/값 형태로 구분

In [32]:
type(a)

list

In [33]:
a = {'a', 'b', 'c'}
type(a)

set

In [34]:
a = {'a':'A', 'b':'B', 'c':'C'}
type(a)

# 파이썬 컴파일러가 타입 자동 결정

dict

In [35]:
a = {3,2,3,5}
a

# set은 입력 순서 유지되지 않음, 중복된 값은 하나만 유지

{2, 3, 5}

## 시퀀스  
### 111p

In [36]:
# 우리말로 수열 같은 의미
# 특정 대상의 순서 있는 나열
# str은 문자의 순서 있는 나열
# list는 다양한 값들을 배열 형태의 순서 있는 나열로 구성하는 자료형, 사실상 배열의 역할

# 불변과 가변으로 분류정 대상의 순서 있는 나열
# str은 문자의 순서 있는 나열
# list는 다양한 값들을 배열 형태의 순서 있는 나열로 구성하는 자료형, 사실상 배열의 역할

# 불변(str, tuple, bytes)과 가변으로 분류

a = 'abc'
a = 'def'
type(a)

# 변경된 것처럼 보이지만 아님

str

In [37]:
a = 'abc'
id('abc')

140295703198832

In [38]:
id(a)

140295703198832

In [39]:
a = 'def'
id('def')

140295702343408

In [40]:
id(a)
# 메모리에는 'abc'와 'def'에 각기 저장되어 있으나 a 변수가 어디를 참조하는지가 바뀜

140295702343408

In [41]:
a[1] = 'd'

# 각 원소에 엑세스할 수 없음
# 정말 변경된다면 이 할당자가 처리되어야 함

TypeError: ignored

## 불변 객체  
### 116p

In [ ]:
# 파이썬은 모든 것이 객체
# 변수를 할당하는 것은 해당 객체를 변수가 참조한다는 것
# 문자와 숫자도 모두 객체이나 이 둘은 불변 객체

10
a = 10
b = a
id(10), id(a), id(b)

# 모두 원시 타입이라면 id 달라야 하는데 모두 같다.
# 10이 11로 바뀌는 일은 없고, a가 11이 된다면 그냥 더이상 10을 참조하지 않을 뿐이다
# 문자와 숫자, tuple은 불변이라 dict다의 key나 set의 값으로 사용 가능하다
# list는 언제든 값이 변할 수 있으므로 안 됨

## 가변 객체  
### 116p~117p

In [42]:
a = [1, 2, 3, 4, 5]
b = a
b

[1, 2, 3, 4, 5]

In [43]:
a[2] = 4
a

[1, 2, 4, 4, 5]

In [44]:
b

# 변수 a로써 list에 엑세스해 값을 변경할 수 있음

[1, 2, 4, 4, 5]

In [45]:
a = 10
b = a
id(a), id(b)

(94607402793760, 94607402793760)

In [46]:
b = 7
a, id(a), id(b)

(10, 94607402793760, 94607402793664)

In [47]:
a = [1, 2, 3]
b = a

In [48]:
id(a), id(b)

(140295145653024, 140295145653024)

In [49]:
b[2] = 5
a, id(a), id(b)

([1, 2, 5], 140295145653024, 140295145653024)

## is와 ==  
### 118p

In [50]:
# is는 id()값을 비교하는 함수

if a is None:
    pass

# None은 null로 값 자체가 정의되지 않으므로 ==로 비교할 수 없음

In [51]:
a = [1, 2, 3]
a == a

True

In [52]:
a == list(a)

True

In [53]:
a is a

True

In [54]:
a is list(a)

# 값은 동일하지만 list()로 한 번 더 묶어주면 별도의 객체로 복사됨
# 즉 id가 다름

False

In [55]:
import copy
a = [1,2,3]
a == copy.deepcopy(a)

True

In [56]:
a is copy.deepcopy(a)

# deepcopy도 값은 같으나 id가 다름

False